@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
}

.container {
  background-color: darkred;
  width: 100vw;
  height: 100vh;
  /* para darle centrado a la .card */
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 400px;
  height: 400px;
  background-color: rgb(24, 23, 23);
  color: whitesmoke;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 10px;
  /* efecto de cuando pasas el mouse por encima */
  transition: all 0.3s ease;
}
.card:hover {
  box-shadow: 2px 2px 15px 0px rgb(197, 87, 87);
}
.calavera {
  height: 320px;
  /* posiion relative: me arregla la imagen con respecto al elemento padre */
  position: absolute;
  top: -130px;
  border-radius: 1rem 1rem 0 0;
}
.calavera:hover {
  filter: drop-shadow(1px whitesmoke);
}
.cardimg {
  background-image: url(img/fondo.png);
  width: 100%;
  height: 70%;
  border-radius: 1rem;
}

.texto {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  margin-bottom: 5px;
}

.titulo {
  font-size: 2rem;
  /* para agergar color y gradiente a las letras se hace de esa manera */
  background: linear-gradient(to right, pink, red);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.descripcion {
  font-size: 0.5rem;
}

.masinfo {
  align-self: flex-end;
  border: 1px solid rgb(212, 42, 42);
  padding: 5px 20px;
  border-radius: 1rem;
  cursor: pointer;
  color: red;
  transition: all 0.3s ease;
  background: rgb(182, 143, 143);
}

.masinfo:hover {
  background: rgb(250, 245, 245);
}
